spring:
  application:
    name: libreria

  datasource:
    url: jdbc:h2:mem:libreria_db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

external:
  api:
    books:
      url: https://my-json-server.typicode.com/Gabriel-Arriola-UTN/libros/books

server:
  port: 8080

springdoc:
  api-docs:
    version: OPENAPI_3_0
